@import "tailwindcss";

/* Tailwind v4 dark mode custom variant */
@custom-variant dark (&:where(.dark, .dark *));


html, body {
  margin: 0;
  padding: 0;
}

html.dark, html.dark body {
  background-color: #222637;
}
